/* adapted from https://jrl.ninja/etc/1/ */
html {
    max-width:70ch;
    padding:2ch;
    margin:auto;
    color:#333;
    font-size:1.2em;
}

.winner {
    font-weight: bolder;
    font-size: 120%;
}