/* adapted from https://jrl.ninja/etc/1/ */
html {
    max-width:70ch;
    padding:2ch;
    margin:auto;
    color:#0b2228;
    background-color: #f0f0ef;
    font-size:1.2em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
    box-sizing: border-box;
}

.winner {
    font-weight: bolder;
    font-size: 120%;
}

.motion-time {
    align-self: flex-end;
    margin-left: 1em;
}

.motion-title {
    margin-bottom: 0;
}

.motion-titlebar {
    display: flex;
    margin-top: 3em;
}

.build-info {
    font-size: smaller;
    color: #ccc;
    margin-top: 30px;
    display: block;
}

.paren {
    color: transparent;
}

.amount {
    font-family: monospace;
}

.running-total {
    font-family: monospace;
}

.amount.negative {
    color: red;
}

.amount.negative>.paren {
    color: inherit;
}

.transaction .amount {
    text-align: right;
}

.transaction .running-total {
    text-align: right;
}

.transaction>td {
    padding-left: 2px;
    padding-right: 2px;
}

.balances {
    border: 1px solid currentColor;
    padding: 5px;
    margin-top: 1rem;
}

.balances summary {
    list-style: none;
}

.tabley-table {
    border: 1px solid currentColor;
}

.tabley-table > thead > tr > td,
.tabley-table > tbody > tr > td,
.tabley-table > tr > td,
.tabley-table > thead > tr > th,
.tabley-table > tbody > tr > th,
.tabley-table > tr > th
{
    padding-left: 2px;
    padding-right: 2px;
    border: 1px solid currentColor;
}

.filter-button {
    padding: 2px 5px;
    border-width: 1px;
    border-style: solid;
    color: white;
    background-color: #555;
    border-color: black;
    margin-left: 5px;
    margin-top: 5px;
    text-decoration: none;
    display: inline-block;
    cursor: not-allowed;
}

.filter-button[href] {
    color: black;
    background: none;
    border-color: black;
    cursor: pointer;
}

.tall-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Checkboxes *never* look aligned without this */
input[type=checkbox],
input[type=radio] {
    vertical-align: 10%;
}

.mt-1 {
    margin-top: 1rem;
}

.spacer-tall {
    width: 0;
    height: 1rem;
    visibility: hidden;
}
.spacer-wide {
    width: 1rem;
    height: 0;
    visibility: hidden;
}

#transfer_destination_input {
    width: 100%;
}

.mt-header {
    max-width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

#mt-header-light {
    display: block;
}

#mt-header-dark {
    display: none;
}

@media (prefers-color-scheme: dark) {
    html {
        color: #f0f0ef;
        background-color: #0b2228;
    }

    #mt-header-light {
        display: none;
    }

    #mt-header-dark {
        display: block;
    }
}