/* adapted from https://jrl.ninja/etc/1/ */
html {
    max-width:70ch;
    padding:2ch;
    margin:auto;
    color:#333;
    font-size:1.2em;
}

.winner {
    font-weight: bolder;
    font-size: 120%;
}

.motion-time {
    align-self: flex-end;
    margin-left: 1em;
}

.motion-title {
    margin-bottom: 0;
}

.motion-titlebar {
    display: flex;
    margin-top: 3em;
}

.build-info {
    color: #ccc;
    margin-top: 30px;
    display: block;
}